<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.spoofax.modelware.gmf.synchronizer" name="Synchronizer" schema="schema/org.spoofax.modelware.gmf.synchronizer.exsd"/>
   <extension point="org.eclipse.ui.startup">
      <startup
            class="org.spoofax.modelware.gmf.RuntimeActivator">
      </startup>
   </extension>
</plugin>
